<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <h1 align="center">Albums</h1>

        <div align="center">
            <a align="center" class="btn btn-default" href="/home/">Back</a>
        </div>
        {% if albums %}
            {% for album in albums %}
                <p align="center"
                    style="padding-top: 20px; font-size: large"
                ><a href="/album/{{album.id}}/">{{ album.title }}</a></p>
                <a href="/album/{{album.id}}"><img src="{{ album.cover.url }}" width="100%" alt="img"></a>
                <p align="center">{{ album.description }}</p>
            {% endfor %}
        {% endif %}
        <div align="center">
            <a align="center" class="btn btn-default" href="/home/">Back</a>
        </div>
    </body>
</html>